@model IEnumerable<QuanLyHSBA.Models.Specialty>

@{
    ViewData["Title"] = "Index";
}

<h1>Thông Tin Chuyên Ngành</h1>

<p>
    <a asp-action="Add"><button class="btn btn-outline-dark">Create New</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.Id"><button class="btn btn-outline-dark"><i class="bi bi-pencil-square"></i></button></a> |
                    <a asp-action="Display" asp-route-id="@item.Id"><button class="btn btn-outline-dark"><i class="bi bi-list"></i></button></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><button class="btn btn-outline-dark"><i class="bi bi-trash"></i></button></a>
                </td>
            </tr>
        }
    </tbody>
</table>
