@model IEnumerable<QuanLyHSBA.Models.MedicalRecord>

@{
    ViewData["Title"] = "Home Page";
    int numOfQuantity = 1;
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />

<h1>Hồ Sơ Bệnh Án</h1>

<section class="py-2">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justifycontent-center">

            @foreach (var item in Model)
            {
                <div class="col mb-5">
                    <div class="card gap-3" style="width: 18rem">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Patient.Name)</h5>
                            <div class="d-flex">
                                <span>Triệu Chứng: </span>
                                <p class="mx-3">@item.Symptom</p>
                            </div>
                            <div class="d-flex">
                                <span>Tên Bác Sĩ: </span>
                                <p class="mx-3">@item.Doctor.Name</p>
                            </div>
                            <div class="d-flex">
                                <span>Ngày Khám: </span>
                                <p class="mx-3">@item.AdmissionDate</p>
                            </div>
                            <a class="btn btn-outline-dark" asp-area="" asp-controller="MedicalRecord" asp-action="Display" asp-route-id="@item.Id">
                                <i class="bi bi-search"></i>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
